
  body {
    background-color: #FFF !important;
  }
  .clear {
    clear: both;
  }
  img{
    width: 135px;
  }
  form{
    width: 80%;
    /* justify-content: center; */
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
  }
  .log {
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    justify-content: center;
  }
  .log h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
  }