<div class="main-content">
    <div class="container-fluid">

        <div class="row" style="justify-content: center;">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-Brown">
                        <div class="ct-chart" id="approvalsChart"></div>
                    </div>
                    <div class="row" style="justify-content: center;">
                        <b> Super Man </b>
                    </div>
                    <div class="row" style="justify-content: center;">
                        <img style="width: 50%;" src="../../assets/img/Hero.png">
                    </div>
                    <div class="row" style="justify-content: center;">
                        Level:&nbsp; <b style="color: red;"> 1 </b>
                    </div>
                    <div class="row" style="justify-content: center;">
                        Average Sprint Points:&nbsp; <b> 16 </b>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header card-header-Brown">
                    <div class="ct-chart" id="approvalsChart"></div>
                </div>
                <div class="row" style="justify-content: center;">
                    <b> Super Man </b>
                </div>
                <div class="row" style="justify-content: center;">
                    <img style="width: 50%;" src="../../assets/img/Hero.png">
                </div>
                <div class="row" style="justify-content: center;">
                    Level:&nbsp; <b style="color: red;"> 2 </b>
                </div>
                <div class="row" style="justify-content: center;">
                    Average Sprint Points:&nbsp; <b> 15 </b>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header card-header-Brown">
                    <div class="ct-chart" id="approvalsChart"></div>
                </div>
                <div class="row" style="justify-content: center;">
                    <b> Super Man </b>
                </div>
                <div class="row" style="justify-content: center;">
                    <img style="width: 50%;" src="../../assets/img/Hero.png">
                </div>
                <div class="row" style="justify-content: center;">
                    Level:&nbsp; <b style="color: red;"> 3 </b>
                </div>
                <div class="row" style="justify-content: center;">
                    Average Sprint Points:&nbsp; <b> 14 </b>
                </div>
            </div>
        </div>
    </div>
</div>